libs/node-red/backend-node-red.txt
[{"id":"c8af64e2.05a398","type":"http in","z":"d64f26b9.0989b8","name":"","url":"/command","method":"post","upload":false,"swaggerDoc":"","x":220,"y":380,"wires":[["ec3a0025.e1367","30c640f2.6a86d"]]},{"id":"33292328.3853bc","type":"http in","z":"d64f26b9.0989b8","name":"","url":"/states","method":"get","upload":false,"swaggerDoc":"","x":210,"y":340,"wires":[["4aa3ada1.c9b5d4"]]},{"id":"4aa3ada1.c9b5d4","type":"function","z":"d64f26b9.0989b8","name":"Retrieve states","func":"msg.payload = global.get(\"states\");\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["1af3395e.29a407"]]},{"id":"69811c81.05ecd4","type":"http response","z":"d64f26b9.0989b8","name":"","statusCode":"","headers":{},"x":390,"y":640,"wires":[]},{"id":"523b4dce.1391d4","type":"http in","z":"d64f26b9.0989b8","name":"","url":"/add-device","method":"post","upload":false,"swaggerDoc":"","x":230,"y":460,"wires":[["d0f401e7.4213d","b67c34ad.4fe1b8"]]},{"id":"d0f401e7.4213d","type":"function","z":"d64f26b9.0989b8","name":"Add device to states list","func":"var states = global.get(\"states\");\n\nlet room = msg.payload.room;\nlet device = msg.payload.device;\n\nlet id = states[room].devices[device] !== undefined ? (Object.keys(states[room].devices[device]).length) + 1 : 1;\n\nlet deviceId = device + id;\n\nif(states[room].devices[device] !== undefined) {\n    states[room].devices[device][deviceId] = device !== 'ac' ? 0 : { state: 0, temp: 5, mode: 'Auto' };\n} else {\n    states[room].devices[device] = device !== 'ac' ? { [deviceId]: 0 } : { [deviceId] : { state: 0, temp: 5, mode: 'Auto' } }\n}\n\nmsg.payload = states;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["4aefd9b1.648548"]]},{"id":"30c640f2.6a86d","type":"function","z":"d64f26b9.0989b8","name":"Change device state","func":"var states = global.get(\"states\");\n\nlet room = msg.payload.room;\nlet device = msg.payload.device;\nlet deviceId;\n\nif(device !== \"ac\") {\n    deviceId = device + msg.payload.id\n    states[room].devices[device][deviceId] = parseInt(msg.payload.state);\n} else {\n    deviceId = device + msg.payload.id;\n    let option = msg.payload.option;\n    states[room].devices[device][deviceId][option] = option !== \"mode\" ? parseInt(msg.payload.state) : msg.payload.state;\n}\n\nmsg.payload = states;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":380,"wires":[["da2c97b0.c389f8"]]},{"id":"42b0a2bc.eb440c","type":"function","z":"d64f26b9.0989b8","name":"Create state JSON","func":"var states = {\n    masterbedroom: {\n        devices:{\n            light:{\n                light1: 0\n            },\n            ac:{\n                ac1:{\n                    state: 0,\n                    temp: 5,\n                    mode: \"Auto\"\n                }\n            }\n        }\n    },\n    childrenbedroom: {\n        devices:{\n            light:{\n                light1: 0\n            },\n            ac:{\n                ac1:{\n                    state: 0,\n                    temp: 5,\n                    mode: \"Auto\"\n                }\n            }\n        }\n    },\n    masterbathroom: {\n        devices:{\n            light:{\n                light1: 0\n            }\n        }\n    },\n    childrenbathroom: {\n        devices:{\n            light:{\n                light1: 0\n            }\n        }\n    },\n    kitchen: {\n        devices:{\n            light:{\n                light1: 0\n            },\n            ac:{\n                ac1:{\n                    state: 0,\n                    temp: 5,\n                    mode: \"Auto\"\n                }\n            },\n            refrigerator:{\n                refrigerator1: 0\n            },\n            microwave:{\n                microwave1: 0\n            }\n        }\n    },\n    livingroom: {\n       devices:{\n            light:{\n                light1: 0\n            },\n            ac:{\n                ac1:{\n                    state: 0,\n                    temp: 5,\n                    mode: \"Auto\"\n                }\n            },\n            television:{\n                television1: 0\n            }\n        }\n    },\n    deck: {\n        devices:{\n            light:{\n                light1: 0\n            },\n            farmbot:{\n                farmbot1: 0\n            }\n        }\n    },\n    parking: {\n        devices:{\n            light:{\n                light1: 0\n            }\n        }\n    }\n};\n\nglobal.set(\"states\", states);\n\nmsg.payload = global.get(\"states\");\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":160,"wires":[["716581.370b6a8","e4debd1d.208"]]},{"id":"cc404e74.22fea","type":"file","z":"d64f26b9.0989b8","name":"Save JSON for states","filename":"Desktop\\states.json","appendNewline":false,"createDir":true,"overwriteFile":"true","x":340,"y":680,"wires":[]},{"id":"8ade1e09.3ffa2","type":"file in","z":"d64f26b9.0989b8","name":"Load JSON","filename":"Desktop\\states.json","format":"utf8","chunk":false,"sendError":true,"x":370,"y":180,"wires":[["e0e0275b.8eebd8"]]},{"id":"3763bb2.2a96e44","type":"inject","z":"d64f26b9.0989b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":210,"y":180,"wires":[["8ade1e09.3ffa2"]]},{"id":"e0e0275b.8eebd8","type":"switch","z":"d64f26b9.0989b8","name":"Check if file exists","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","outputs":2,"x":550,"y":180,"wires":[["42b0a2bc.eb440c"],["a4115f91.c3753"]]},{"id":"a4115f91.c3753","type":"json","z":"d64f26b9.0989b8","name":"Convert string to JSON","pretty":false,"x":870,"y":200,"wires":[["716581.370b6a8"]]},{"id":"716581.370b6a8","type":"function","z":"d64f26b9.0989b8","name":"Set JSON to Global variable","func":"global.set(\"states\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":200,"wires":[[]]},{"id":"549057de.415f38","type":"link in","z":"d64f26b9.0989b8","name":"Save JSON for states","links":["da2c97b0.c389f8","e4debd1d.208","4aefd9b1.648548"],"x":155,"y":680,"wires":[["cc404e74.22fea"]]},{"id":"da2c97b0.c389f8","type":"link out","z":"d64f26b9.0989b8","name":"","links":["549057de.415f38"],"x":635,"y":380,"wires":[]},{"id":"e4debd1d.208","type":"link out","z":"d64f26b9.0989b8","name":"","links":["549057de.415f38"],"x":1035,"y":160,"wires":[]},{"id":"b67c34ad.4fe1b8","type":"link out","z":"d64f26b9.0989b8","name":"","links":["d037b5e.474a248"],"x":395,"y":500,"wires":[]},{"id":"d037b5e.474a248","type":"link in","z":"d64f26b9.0989b8","name":"HTTP connection","links":["b67c34ad.4fe1b8","68c8174b.b049b8","1af3395e.29a407","ec3a0025.e1367"],"x":155,"y":640,"wires":[["69811c81.05ecd4"]]},{"id":"1af3395e.29a407","type":"link out","z":"d64f26b9.0989b8","name":"","links":["d037b5e.474a248"],"x":635,"y":340,"wires":[]},{"id":"ec3a0025.e1367","type":"link out","z":"d64f26b9.0989b8","name":"","links":["d037b5e.474a248"],"x":395,"y":420,"wires":[]},{"id":"4aefd9b1.648548","type":"link out","z":"d64f26b9.0989b8","name":"","links":["549057de.415f38"],"x":635,"y":460,"wires":[]},{"id":"56486e01.c1229","type":"comment","z":"d64f26b9.0989b8","name":"HTTP","info":"","x":190,"y":300,"wires":[]},{"id":"498860ce.dd53","type":"comment","z":"d64f26b9.0989b8","name":"Initializing device states","info":"","x":240,"y":140,"wires":[]},{"id":"2a8feb3b.a90744","type":"comment","z":"d64f26b9.0989b8","name":"Re-usables","info":"","x":210,"y":600,"wires":[]}]